/* PAGE */

App {
  height: 100%;
  display: flex;
  flex-direction: column;
}


body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;

}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.main-container {
  order: 2;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #fff;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  /* border-bottom: 1px outset #000; */
  flex: 0 0 auto;
  order: 1;
}

.navbar a {
  color: #000;
  color: #fff;
  padding : 5px;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* FOOTER */

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 0 0 auto;
  order: 3;
  background-color: #dcdcdc;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer audio {
  order: 1;
  flex: 3;
}

.footer p {
  order: 2;
  flex: 1;
}



/* FLEXBOX  */

.flex-container {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;

}

.flex-item {
  margin: 5px;
  color: black;
  text-align: center;
  vertical-align: center;
  height: 10vw;
  width: 10vw;
  line-height: 10vw;
  flex : 1 0 10%;
  /* Child Image rezing */
  display: flex;
}

.flex-item:hover {
  border: black;
  border-style: solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.flex-item img {
  width: 10vw;
  height: 10vw;
  display: ;

};

/* FORMS  */
.upload-form {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.upload-form label {
  display: flex;
  flex-direction: row;
  justify-content: left;

}

@media screen and (min-width: 476px) {
}
